html {
    background: #1d2021;
    color: #ebdbb2;
    font-family: 'Open Sans', sans-serif;
}
body {
    max-width: 67rem;
    margin: auto;
    padding: .33rem;
}
body2 {
    background: url('/static/tree.png') repeat-y;
    background-position: 0 18rem;
    margin-left: 1rem;
}
h1 {
    font-family: 'Open Sans SemiBold', 'Open Sans', sans-serif;
    font-size: 3rem;
    margin-bottom: 1rem;
}
h2 {
    font-family: 'Open Sans SemiBold', 'Open Sans', sans-serif;
    font-size: 32px;
    margin-bottom: 1rem;
}
h3 {
    font-family: 'Open Sans SemiBold', 'Open Sans', sans-serif;
    font-size: 24px;
    margin: 1rem 0;
}
p {
    padding-bottom: 1rem;
    line-height: 1.25;
}
a {
    color: #d65d0e;
}
a:visited {
    color: #af3a03;
}
sup {
    top: -0.333em;
    position: relative;
    font-size: 85%;
}
header {
    grid-area: header;
    padding: 1rem 1rem 0;
}
main {
    grid-area: main;
}
main.page-content {
    padding-right: 3rem;
}
footer {
    grid-area: right;
}
blockquote {
    padding: .8em ;
    border-left: solid gray 3px;
    margin-bottom: 1em;
    margin-left: 1rem;
}
blockquote p {
    padding: 0;
}
.grid {
    display: grid;
    padding: 0 10px;
}
.grid > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
@media screen and (min-width: 412px) {
    .grid {
        grid-template-areas:
        'header header header header header'
        'main   main   main   main   right';
    }
}

@media screen and (max-width: 411px) {
    .grid {
        grid-template-areas:
        'header header header'
        'main   main   main'
        'right  right  right';
    }
}

footer {
    width: 20rem;
    max-width: 33vw;
    padding-top: .5rem;
}
.page-content {
    max-width: 45rem;
}
.wrapper {
    padding: .33rem;
}
.post-meta {
    margin: 0.66rem 0;
    font-size: 80%;

}

.footnote-ref {
    padding-right: 0.2em;
}

ul {
    list-style: circle;
}
ul > li {
    margin: 5px 0 5px 45px;
}
ul.post-list {
    list-style: none;
}
.post-list > li {
    margin: 0 0 1.5rem;
}
.post-list > li > h3{
    margin-bottom: .5rem;
}
.external-links > p:not(:last-child) {
    padding-bottom: 0.5rem;
}
.external-links .context {
    font-size: 0.8rem;
}
.who-content {
    padding-top: 3rem;
    margin-bottom: -2rem;
}
.who-content > .gitline-root{
    width: 0.5rem;
    position: absolute;
    height: 100%;
    overflow: hidden;
    background: #CCC;
    left: 8rem;
    top: 0;
}
.who-content > .intro{
    margin-left: 8rem;
    margin-bottom: 2rem;
}
.project {
    margin-left: 4rem;
    border-radius: 1rem;
    display: flex;
}
.project > .git {
    width: 0.5rem;
    position: relative;
    background: #CCC;
    left : 3rem;
}
.project > .gitline {
    width: 0.5rem;
    position: relative;
    height: 2rem;
    background: #CCC;
    left : 3rem;
}
.project > .git > .commit {
    position: relative;
    width: 2rem;
    height: 2rem;
    border: white solid 2px;
    border-radius: 2rem;
    top: 1rem;
    left: -0.9rem;
}
.project > .git > .commit.code {
    background: #810000;
}
.project > .git > .commit.work {
    background: #000081;
}
.project > .git > .commit.school {
    background: #008100;
}
.project > .git > .commit.merit {
    background: #818181;
}
.project > .project-body {
    background: #7d7d7d50;
    padding: 0.333rem 0.333rem 0.333rem 5.25rem;
    border-radius: 1rem;
    min-width: 25rem;
    max-width: 45rem;
    min-height: 4rem;
    margin-bottom: 2rem;
}
.project > .project-body.w25 {
    width: 25rem;
}
.project > .project-body.w30 {
    width: 30rem;
}
.project > .project-body.w40 {
    width: 40rem;
}
.project > .project-body.w50 {
    width: 50rem;
    max-width: 50rem;
}
.project > .project-body > p {
    margin-top: 0.25rem;
}
.project > .project-body > a {
    font: italic bold 14px 'Open Sans', sans-serif;
    color: blue;
}
.project > .project-body > p.years {
    font: italic 14px 'Open Sans', sans-serif;
    margin-bottom: 0.25rem;
}
.project > .project-body > p.lang {
    font: italic 14px 'Open Sans', sans-serif;
    margin-bottom: 0.25rem;
}
.project > .project-body > p.title {
    font: italic 14px 'Open Sans', sans-serif;
    margin-bottom: 0.25rem;
}
p code {
    display: inline-block;
    border: 1px solid #555;
    background-color: #333;
    font-size: .9rem;
    max-width: 80vw;
}
pre code {
    display: inline-block;
    border: 1px solid #555;
    background-color: #333;
    font-size: .9rem;
    padding: 0.9em;
    margin: 2em 0 2em 2em;
    max-width: 80vw;
}

.highlight .c{color:#998;font-style:italic}
.highlight .err{color:#a61717;background-color:#e3d2d2}
.highlight .k{font-weight:bold}
.highlight .o{font-weight:bold}
.highlight .cm{color:#998;font-style:italic}
.highlight .cp{color:#999;font-weight:bold}
.highlight .c1{color:#998;font-style:italic}
.highlight .cs{color:#999;font-weight:bold;font-style:italic}
.highlight .gd{color:#000;background-color:#fdd}
.highlight .gd .x{color:#000;background-color:#faa}
.highlight .ge{font-style:italic}
.highlight .gr{color:#a00}
.highlight .gh{color:#999}
.highlight .gi{color:#000;background-color:#dfd}
.highlight .gi .x{color:#000;background-color:#afa}
.highlight .go{color:#888}
.highlight .gp{color:#555}
.highlight .gs{font-weight:bold}
.highlight .gu{color:#aaa}
.highlight .gt{color:#a00}
.highlight .kc{font-weight:bold}
.highlight .kd{font-weight:bold}
.highlight .kp{font-weight:bold}
.highlight .kr{font-weight:bold}
.highlight .kt{color:#458;font-weight:bold}
.highlight .m{color:#099}
.highlight .s{color:#d14}
.highlight .na{color:teal}
.highlight .nb{color:#0086B3}
.highlight .nc{color:#458;font-weight:bold}
.highlight .no{color:teal}
.highlight .ni{color:purple}
.highlight .ne{color:#900;font-weight:bold}
.highlight .nf{color:#900;font-weight:bold}
.highlight .nn{color:#555}
.highlight .nt{color:navy}
.highlight .nv{color:teal}
.highlight .ow{font-weight:bold}
.highlight .w{color:#bbb}
.highlight .mf{color:#099}
.highlight .mh{color:#099}
.highlight .mi{color:#099}
.highlight .mo{color:#099}
.highlight .sb{color:#d14}
.highlight .sc{color:#d14}
.highlight .sd{color:#d14}
.highlight .s2{color:#d14}
.highlight .se{color:#d14}
.highlight .sh{color:#d14}
.highlight .si{color:#d14}
.highlight .sx{color:#d14}
.highlight .sr{color:#009926}
.highlight .s1{color:#d14}
.highlight .ss{color:#990073}
.highlight .bp{color:#999}
.highlight .vc{color:teal}
.highlight .vg{color:teal}
.highlight .vi{color:teal}
.highlight .il{color:#099}

