<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>grayhatter.com</title>
    <link rel="stylesheet" href="/static/reset.min.css">
    <link rel="stylesheet" href="/static/fonts.css">
    <link rel="stylesheet" href="/static/who.css">
  </head>

  <body>
    <div class="content">
      <div class="gitline-root"></div>

      <div class="intro">
        <h1>Gregory Mullen</h1>
        <h2>Curriculum vitae</h2>
        <p style="max-width: 50rem;">
          Hello, My name's Gregory, I'm a security software engineer, and I enjoy solving hard problems.<br><br>
          I've been writing code in one form or another for over 15 years, in low level languages (C99 or C++), to high
          level languages including Python, Haskell, and grudgingly JavaScript, with a few other languages in-between.
          I like writing correct, well optimized code, but I like solving problems more. When I find an interesting
          problem, I <em>have</em> to solve it. I don't often give up before I've both understood, and found a clever
          solution to the problem.
        </p>
      </div>


      <div class="project">
      </div>


      <div class="project">
        <div class="git"><div class="commit work"></div></div>
        <div class="project-body">
          <h3>
            Founded Blackslash Development
          </h3>
          <p class="title">CEO / Principal</p>
          <p class="year">2017 &mdash; Current</p>
          <p>
            Founder, CEO, Principal. Founded Backslash Development to provide software development & systems
            Consultation. As the founder I've been responsible for all details from Business Administration/Management,
            to Software Development and Project Management. On the business side I've been responsible for both the day
            to day business and project management. For the technical and software side I've handled the systems
            administration and deployment from development through production servers, including CI/CD servers. BSDev
            software projects include low level languages C/C++, to high level Server and desktop Python applications.
            Projects cross all major OSes; from code for embedded arm systems on vehicles, (including reverse
            engineering the existing embedded software, to extending/replacing the limited feature set), to
            cross-platform high resolution encrypted VoIP software for use in university research projects where the
            code base starts in low level C, to graphics code in OpenGL, with a user interface written in Python giving
            the client the ability to extend features later.
          </p>
        </div>
      </div>
      <div class="gitline"></div>


      <div class="project">
        <div class="git"><div class="commit work"></div></div>
        <div class="project-body w50">
          <h3>
            Epic Martial Arts
          </h3>
          <p class="title">Owner / Master Instructor</p>
          <p class="year">2016 &mdash; Current</p>
          <p>
            Starting as a Martial Arts Instructor, I wrote an application to better track student progress. The system
            included a Touch UI that was intuitive for students as young as 5 to use. Later expanded the application to
            manage the business side of the studio; tracking historical and projected testing dates, for students,
            hosting special event sign-ups, camp registration, and fully automated recurring payment functionality.
          </p>
        </div>
      </div>
      <div class="gitline"></div>


      <div class="project">
        <div class="git"><div class="commit work"></div></div>
        <div class="project-body">
          <h3>
            Co-Founder cmdline.org
          </h3>
          <p class="year">2009 &mdash; Current</p>
          <p>
            Created shortly after the dissolution of Dev.5. cmdline.org was originally a hacking group in the real
            sense of the word. cmdline.org was created to pool resources and knowledge to help people who wanted to do
            cool stuff. Community projects included the obvious (searching for exploits), but also included resources
            such as; <em>IPTV Archive</em>, a hosted repo for classic IPTV shows out of production, or <em>Geekii</em>,
            a clone of howtoforge with a wiki format. <br /> Later cmdline.org eventually evolved into it's current
            small group of security engineers working with Backslash Development.
          </p>
        </div>
      </div>
      <div class="gitline"></div>


      <div class="project">
        <div class="git"><div class="commit code"></div></div>
        <div class="project-body w50">
          <h3>
            HUDTDS
          </h3>
          <p class="lang">C (ISO C99)</p>
          <p class="lang">ARM, Embedded Linux, Wayland, Weston-IVI, JCI (proprietary ****)</p>
          <p class="year">2017 &mdash; Current</p>
          <p>Heads Up Display, That Doesn't Suck</p>
          <p>
            The new car I bought came with an In-Vehicle infotainment system that could play music from a usb device,
            but remembering to update the song list on the USB drive seemed like a waste of time. My car includes wifi
            (disabled by default) that I wanted to use to sync my music for me. Once I started looking around the
            system, I learned the front end was a custom opera browser that interfaces with native code via websockets
            and json. I'm currently reverse engineering the system so I can implement something that's actually sane.
          </p>
        </div>
      </div>
      <div class="gitline"></div>


      <div class="project">
        <div class="git"><div class="commit code"></div></div>
        <div class="project-body">
          <h3>
            SideKick
          </h3>
          <p class="lang">Python 3, Flask, Discord</p>
          <p class="year">2018 &mdash; Current</p>
          <p>
            SideKick is gaming organization tracking software, with a specific focus on Star Citizen. Primarily a Web
            based front end with a Discord Bot for the vast majority of tasks. Handles applications, fleet management,
            member training, org documentation, and in game intel.
          </p>
        </div>
      </div>
      <div class="gitline"></div>

      <div class="project">
        <div class="git"><div class="commit merit"></div></div>
        <div class="project-body w30">
          <h3>
            Critter Chat
          </h3>
          <p class="lang">Python 3</p>
          <p class="lang">C (ISO C99), National Instruments DAQ, OpenGL</p>
          <p class="year">2017 &mdash; Current</p>
          <p class="lang">
            Unreleased Project (This project is under a non-public contract, or some patentable sections can't yet be
            made public)
          </p>
        </div>
      </div>
      <div class="gitline"></div>


      <div class="project">
        <div class="git"><div class="commit merit"></div></div>
        <div class="project-body w25">
          <h3>
            Breathe
          </h3>
          <p class="lang">Python 3</p>
          <p class="year">2016 &mdash; Current</p>
          <p class="lang">
            Unreleased Project (This project is under a non-public contract, or some patentable sections can't yet be
            made public)
          </p>
        </div>
      </div>
      <div class="gitline"></div>


      <div class="project">
        <div class="git"><div class="commit code"></div></div>
        <div class="project-body">
          <h2>
            Marshall
          </h2>
          <p class="lang">Python 3</p>
          <p class="year">2016 &mdash; Current</p>
          <p>
            Version 2 of the student tracking system. This version includes a lot more support for the administrative
            tasks in running a martial arts studio; Including not just student tracking, but family tracking, billing,
            automated payments, events, online new-student registration & payments.
          </p>
        </div>
      </div>
      <div class="gitline"></div>

      <div class="project">
        <div class="git"><div class="commit merit"></div></div>
        <div class="project-body w25">
          <h3>
            libtx
          </h3>
          <p class="lang">C (ISO C11)</p>
          <p class="year">circa 2018</p>
          <p>(Pronounced lib-transmit)</p>
          <p>
            libtx is a fork of the toxcore project intending to become a smaller encrypted network protocol.
            Building from the concepts of the tox protocol, libtx is use-case agnostic, containing no systems intended
            to act as a VOIP messenger. Instead libtx is a simple lightweight library that implements the new meeting
            protocol originally created for toxcore.
          </p>
        </div>
      </div>
      <div class="gitline"></div>

      <div class="project">
        <div class="git"><div class="commit code"></div></div>
        <div class="project-body w30">
          <h3>
            DevBot
          </h3>
          <p class="lang">Haskell</p>
          <p class="year">circa 2017</p>
          <p>
            Managing the multiple git repositories and projects for the Tox Project as a whole started
            to become confusing or ambiguous. DevBot was created to help with that, (and because I wanted
            to learn Haskell.) Features include watching IRC channels for references to issues or pull
            requests, and providing links to Repos, Reviews, issues, patches, etc. Also included was CI/CD
            functions support, so developers could run tests/builds without leaving the IRC conversation.
            And perhaps his most important feature being
            <a href="https://github.com/GrayHatter/devbot/blob/master/src/devbot.hs#L255">comedic relief</a>.
          </p>
        </div>
      </div>
      <div class="gitline"></div>



      <div class="project">
        <div class="git"><div class="commit code"></div></div>
        <div class="project-body">
          <h3>
            Toxcore
          </h3>
          <p class="lang">C (ISO C99)</p>
          <p class="year">2012 &mdash; 2017</p>
          <p>
            Tox is the encrypted messaging protocol created to protect it's users from being spied on. Built from
            the start to keep the encryption exclusively in the control of it's users. There are no remote servers
            anywhere in existence that could disclose any kind of user data if they are ever compromised. After
            starting work on uTox, I started working on implementing multi-device support and history syncing for the
            Tox Protocol. While working on expanding and improving the Toxcore API, I found an implementation defect
            in the way Tox handles confirmed friend finding and mutual authentication. As part of the improvements I
            created a specification for a more secure, and likely better optimized, meeting protocol.
          </p>
        </div>
      </div>
      <div class="gitline"></div>


      <div class="project">
        <div class="git"><div class="commit school"></div></div>
        <div class="project-body">
          <h3>
            BS Nursing
          </h3>
          <p class="title">California State University -- East Bay</p>
          <p class="year">2013 &mdash; 2016</p>
          <p>
            California State University Bachelors Science Nursing 1000+ clinical hours across: Med/Surg,
            Pediatrics, Psych, Renal/Endo, Rehab, OR, ER and Community Health
          </p>
        </div>
      </div>
      <div class="gitline"></div>


      <div class="project">
        <div class="git"><div class="commit code"></div></div>
        <div class="project-body w50">
          <h3>
            uTox
          </h3>
          <p class="lang">C (ISO C99), Java (Android Java)</p>
          <p class="year">2010 &mdash; 2017</p>
          <p>
            uTox is a secure instant messenger (Voice, Video, & Text)<br>
            I started writing code for the Tox Project in 2010, soon taking over as the maintainer for uTox, the
            small/lightweight client written exclusively in ISO-C99. uTox is still the only existing client that
            runs on all 4 major platforms. (Windows, OSX, Linux, & Android).
          </p>
        </div>
      </div>
      <div class="gitline"></div>


      <div class="project">
        <div class="git"><div class="commit school"></div></div>
        <div class="project-body">
          <h3>
            Pre-Nursing
          </h3>
          <p class="lang">Las Positas</p>
          <p class="year">2011 &mdash; 2013</p>
          <p>
            After a year of being involved in working with CoCoSAR's medical rescue, I enrolled in a pre-nursing
            transfer program at Las Positas. After 3 long years of studying and completing the pre-requisite classes,
            I transfered to CSU East Bay to their nursing program.
          </p>
        </div>
      </div>
      <div class="gitline"></div>


      <div class="project">
        <div class="git"><div class="commit code"></div></div>
        <div class="project-body">
          <h3>
            SAR CMS
          </h3>
          <p class="lang">Version 2 &mdash; PHP5</p>
          <p class="year">2014</p>
          <p>
            Working for Contra Costa Sheriff Search & Rescue, I created a “Search Notification” system. Often searches
            in deep backwoods had a severe negative impact on radio communications. Cell phones would occasionally get
            better connections, but often for only short bursts of time. Text messages became a backup communication
            channel when radios didn't work. SAR CMS Version 2 started implementing two way SMS so teams in the field
            could get messages out, as well as stay updated on current search information. This system was intended to
            function along side the existing callout notification system, which only allowed for messaging at the
            start of a search.
          </p>
        </div>
      </div>


      <div class="project">
        <div class="git"><div class="commit school"></div></div>
        <div class="project-body w25">
          <p class="year">2010</p>
          <h3>
            Emergency Medical Technician
          </h3>
          <p>Earned EMT-B while training to join CoCoSAR's Hasty (Rapid Response) Search Team</p>
        </div>
      </div>


      <div class="project">
        <div class="git"><div class="commit code"></div></div>
        <div class="project-body w40">
          <h3>
            SAR CMS
          </h3>
          <p class="lang">PHP5 Website</p>
          <p class="year">2010 &mdash; 2015</p>
          <p>
            SAR CMS is the backend for the SAR website. Originally intended to assist recruiting, SAR CMS exceeded
            goals by recruiting more members in the first year then the previous three combined.

            The scope then expanded to include the CMS Core created to help manage the needs of each SAR Division.
            This included tracking training status and certifications for members, team assignments globally, and
            event schedules for both active medical/safety events and full team multi-station trainings.
          </p>
        </div>
      </div>


      <div class="project">
        <div class="git"><div class="commit work"></div></div>
        <div class="project-body">
          <h3>
            Contra Costa Search & Rescue
          </h3>
          <p class="title">Ground Searcher (Type 2) / Website Corporal / Database Administrator</p>
          <p class="year">2009 &mdash; 2015</p>
          <p>
            As a volunteer I led many different teams and projects; from leading medical & rapid response teams, to
            managing field radio communications. I also created the website and server. The website was originally
            intended to assist recruiting, succeeding in recruiting more members in the first year then the previous
            three combined.
          </p>
        </div>
      </div>
      <div class="gitline"></div>


      <div class="project">
        <div class="git"><div class="commit work"></div></div>
        <div class="project-body">
          <h3>
            The Academy For Martial Arts
          </h3>
          <p class="title">Assistant Instructor.</p>
          <p class="year">2004 &mdash; 2013</p>
          <p>Taught Taekwondo as an Instructor to students ages 3yr & up.</p>
        </div>
      </div>
      <div class="gitline"></div>


      <div class="project">
        <div class="git"><div class="commit code"></div></div>
        <div class="project-body">
          <h3>
            Student Attendance Tracking Software
          </h3>
          <p class="lang">PHP4</p>
          <p class="year">2006 &mdash; 2012</p>
          <p>
            Got tired of signing and dating attendance cards by hand so I developed a tracking system with a touch
            screen interface to allow students to login. The system saved not just me time, but simplified the process
            for students as well. It's much easier to find and touch your name on a computer. Especially when your name
            is printed on your belt color, and you've just turned 3 and are still learning to read!
          </p>
        </div>
      </div>
      <div class="gitline"></div>


      <div class="project">
        <div class="git"><div class="commit merit"></div></div>
        <div class="project-body">
          <h3>
            Certified First Responder
          </h3>
          <p class="year">2009</p>
          <p>Earned First Responder Certification with Contra Costa SAR</p>
        </div>
      </div>


      <div class="project">
        <div class="git"><div class="commit merit"></div></div>
        <div class="project-body">
          <h3>
            Founding Member Dev.5
          </h3>
          <p class="year">2007 &mdash; 2009</p>
          <p>Member of a team that was created to create content/segments for Hax.5 IPTV show.</p>
        </div>
      </div>


    </div>
  </body>

</html>
